/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and default font */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Style main content sections */
.main {
    padding: 20px;
}
.intro-section{
    padding-left:20px;
    margin-right:100px;
    border:3px;
    background-color: salmon;

}
.about-section, .interests-section, .experience-section, .projects-section, .contact-section {
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }
    
    nav ul li {
        margin-right: 10px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
    }
}
